<!-- ===================|| UserLogin/ Registration section Starts ||====================== -->
<section class="sectionTop">
  <div class="container credentialPanel">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <h4 class="mb-5">Login</h4>
        <div class="login border">
          <label class="mb-2">Username or email address *</label>
          <input
            class="inputField"
            type="text"
            placeholder="Username or email address *"
          />
          <label class="mb-2">Password *</label>
          <input class="inputField" type="text" placeholder="Password *" />
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label mb-2" for="flexCheckDefault">
              Remember me
            </label>
          </div>
          <div class="mb-2">
            <button type="button" class="btn btn-dark">Log in</button>
          </div>
          <a href="#">Lost your password?</a>
        </div>
      </div>
      <div class="col-lg-6 mb-5">
        <h4 class="mb-5">Register</h4>
        <div class="login border">
          <label class="mb-2">Email address *</label>
          <input class="inputField" type="text" placeholder="Email address *" />
          <p class="mb-2">
            A link to set a new password will be sent to your email address.
          </p>
          <div>
            <button type="button" class="btn btn-dark">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
