<!-- ===================|| Contact section Starts ||====================== -->
<section class="sectionTop">
  <div class="container">
    <h1 class="contactHeading">Contact</h1>

    <div class="row contactDetails border">
      <div class="col-md-4">
        <div class="leftContact textPad">
          <i class="fa-solid fa-mobile-screen iconContact"></i>
          <h5 class="mb-0">Products & order</h5>
        </div>
        <div class="leftContact textPad">
          <i class="fa-solid fa-mobile-screen iconContact"></i>
          <h5 class="mb-0">Info & enquiries</h5>
        </div>
        <div class="leftContact textPad">
          <i class="fa-solid fa-location-dot iconContact"></i>
          <h5 class="mb-0">Store locator</h5>
        </div>
        <h4 class="textPad">Stay in touch</h4>
        <i class="fa-brands fa-facebook iconContact"></i>
        <i class="fa-brands fa-twitter iconContact"></i>
        <i class="fa-brands fa-youtube iconContact"></i>
      </div>
      <div class="col-md-8">
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
          <label class="mb-2">Name</label>
          <input formControlName="name" class="inputField" type="text" placeholder="Name" />
          <label class="mb-2">Email</label>
          <input formControlName="email" class="inputField" type="text" placeholder="Email" />
          <label class="mb-2">Message</label>
          <textarea formControlName="message" class="inputField" rows="5"></textarea>
          <div class="mb-2">
            <button type="submit" class="btn btn-dark">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
