<!-- ===================|| Shop section Starts ||====================== -->
<section class="sectionTop sectionBgColor">
  <div class="container">
    <h1 class="contactHeading">Shop</h1>

    <!-- search bar -->
    <div class="search">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
        placeholder="Start searching by title or description"><i class="fa-light fa-magnifying-glass"></i>
    </div>

    <!-- card data -->
    <div class="row">
      <div class="col-lg-3 col-md-6 cardView" *ngFor="let item of shopItems | filter:searchText">
        <div class="card">
          <img class="card-img-top" [src]="item.image" alt="{{ item.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <a routerLink="/cart" class="btn btn-success btnModifyBuy" (click)="onBuy(item)">Buy Now</a>
            <a routerLink="/cart" class="btn btn-success btnModifyAddtoCart m-2" (click)="onAddtoCart(item)">Add to
              Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
